<style>
    .hidden {
        display: none !important;
    }

    .small-feature-link {
        color:  black;
        cursor: pointer;
    }

    .small-feature-link:not(:first-child) {
        padding-left: 0.75rem;
    }
</style>
{%- liquid
    if section.settings.enable_carousel
        assign product_limit = 10
    else
        assign product_limit = section.settings.grid | times: section.settings.rows
    endif
    assign womens_collection = collections[section.settings.womens-collection]
    assign mens_collection = collections[section.settings.mens-collection]
    assign girls_collection = collections[section.settings.girls-collection]
    assign boys_collection = collections[section.settings.boys-collection]
    assign accessories_collection = collections[section.settings.accessories-collection]
    
-%}

<div class="meg-featured-collection megint-slider section-id-{{ section.id }} collection-slider-row {% if section.settings.color_scheme != 'default' %}use-color-scheme use-color-scheme--{{ section.settings.color_scheme }}{% endif %}">
    <div class="container{% if section.settings.enable_carousel %} container--not-mobile{% endif %}{% if section.settings.full_width %} container--no-max{% endif %}">
    {%- if section.settings.enable_carousel -%}
        <carousel-slider class="carousel block collection-slider">
            {%- endif -%}

            <h2 class="hometitle h4 align-center has-paging{% if section.settings.enable_carousel %} slider-nav{% endif %}" {%- render 'animation-attrs', attrs: 'data-cc-animate data-cc-animate-delay="0.3s"' -%}>
                {% if section.settings.enable_carousel %}
                    <button name="prev" class="slider-nav__btn has-ltr-icon">
                        <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
                        {% render 'icon-chevron-left' %}
                    </button>
                {% endif %}
                <a style="display: inline-block; width: 100%" href="{% if shop.locale == 'en' %} {{ section.settings.main-collection-url }} {% else %} {{ section.settings.main-collection-url-fr }} {% endif %}">
                {% if shop.locale == 'en' %}
                    {{ section.settings.title | escape }}
                {% else %}
                    {{ section.settings.title_fr | escape }}
                {% endif %}
                </a>
                {% comment %}<a class="has-paging__title" href="{{ collection.url }}"></a>{% endcomment %}


                {% if section.settings.enable_carousel %}
                    <button name="next" class="slider-nav__btn has-ltr-icon">
                        <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
                        {% render 'icon-chevron-right' %}
                    </button>
                {% endif %}
            </h2>

            {%- if section.settings.has_subcategories -%}
                <div class="view-all align-center best-sellers-nav" data-cc-animate data-cc-animate-delay="0.3s">
                    <a class="small-feature-link selected-featured-link md-feature-link" data-tag="gender-womens">{{ 'featured_collection.womens' | t }}</a>
                    <a class="small-feature-link md-feature-link" data-tag="gender-mens">{{ 'featured_collection.mens' | t }}</a>
                    <a class="small-feature-link md-feature-link" data-tag="gender-girls">{{ 'featured_collection.girls' | t }}</a>
                    <a class="small-feature-link md-feature-link" data-tag="gender-boys">{{ 'featured_collection.boys' | t }}</a>
                    <a class="small-feature-link md-feature-link" data-tag="gender-accessories">{{ 'featured_collection.accessories' | t }}</a>
                </div>
            {%- endif -%}

            {%- if section.settings.show_view_all -%}
                <div class="view-all align-center" {%- render 'animation-attrs', attrs: 'data-cc-animate data-cc-animate-delay="0.5s"' -%}>
                    <a class="small-feature-link" href="{% if shop.locale == 'en' %} {{ section.settings.main-collection-url }} {% else %} {{ section.settings.main-collection-url-fr }} {% endif %}">{{ 'sections.featured_collection.view_all' | t }}</a>
                </div>
            {%- endif -%}

            <div class="collection-listing fade-in-up{% if section.settings.enable_carousel %} slider {% if section.settings.full_width %}slider--edge-peek{% endif %} slider--mobile-container-pad slider--no-scrollbar{% endif %}" {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
                <div class="product-grid product-grid--per-row-{{ section.settings.grid }} product-grid--per-row-mob-{{ settings.prod_thumb_mob_per_row }}{% if section.settings.enable_carousel %} slider__grid product-grid--carousel{% endif %}">
                    {%- liquid
   
                            if settings.prod_thumb_shape == 'portrait-23'
                                assign chosen_aspect_ratio = 0.67
                            elsif settings.prod_thumb_shape == 'portrait-45'
                                assign chosen_aspect_ratio = 0.8
                            elsif settings.prod_thumb_shape == 'square'
                                assign chosen_aspect_ratio = 1.0
                            elsif settings.prod_thumb_shape == 'landscape-54'
                                assign chosen_aspect_ratio = 1.25
                            elsif settings.prod_thumb_shape == 'landscape-32'
                                assign chosen_aspect_ratio = 1.50
                            elsif settings.prod_thumb_shape == 'tallest'
                                assign chosen_aspect_ratio = 99
                                for product in womens_collection.products limit: product_limit
                                    if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                                        assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                    endif
                                endfor
                                for product in mens_collection.products limit: product_limit
                                    if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                                        assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                    endif
                                endfor  
                               for product in girls_collection.products limit: product_limit
                                    if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                                        assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                    endif
                                endfor
                               for product in boys_collection.products limit: product_limit
                                    if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                                        assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                    endif
                                endfor  
                                for product in accessories_collection.products limit: product_limit
                                    if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                                        assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                    endif
                                endfor                                                                                            
                            else
                                assign chosen_aspect_ratio = 0
                                for product in womens_collection.products limit: product_limit
                                    if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                                        assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                    endif
                                endfor
                                for product in mens_collection.products limit: product_limit
                                    if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                                        assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                    endif
                                endfor  
                                for product in girls_collection.products limit: product_limit
                                    if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                                        assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                    endif
                                endfor 
                                for product in boys_collection.products limit: product_limit
                                    if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                                        assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                    endif
                                endfor
                                for product in accessories_collection.products limit: product_limit
                                    if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                                        assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                    endif
                                endfor                                        
                            endif

                            for product in womens_collection.products limit: product_limit
                                if section.settings.enable_carousel
                                    echo '<div class="slider__item">'
                                endif
                                render 'featured-product-block', product: product, collection: collection, custom_aspect_ratio: chosen_aspect_ratio, no_swiping: section.settings.enable_carousel, no_quick_buy_markup: section.settings.enable_carousel
                                if section.settings.enable_carousel
                                    echo '</div>'
                                endif
                            endfor

                            for product in mens_collection.products limit: product_limit
                                if section.settings.enable_carousel
                                    echo '<div class="slider__item">'
                                endif
                                render 'featured-product-block', product: product, collection: collection, custom_aspect_ratio: chosen_aspect_ratio, no_swiping: section.settings.enable_carousel, no_quick_buy_markup: section.settings.enable_carousel
                                if section.settings.enable_carousel
                                    echo '</div>'
                                endif
                            endfor  

                            for product in girls_collection.products limit: product_limit
                                if section.settings.enable_carousel
                                    echo '<div class="slider__item">'
                                endif
                                render 'featured-product-block', product: product, collection: collection, custom_aspect_ratio: chosen_aspect_ratio, no_swiping: section.settings.enable_carousel, no_quick_buy_markup: section.settings.enable_carousel
                                if section.settings.enable_carousel
                                    echo '</div>'
                                endif
                            endfor   

                            for product in boys_collection.products limit: product_limit
                                if section.settings.enable_carousel
                                    echo '<div class="slider__item">'
                                endif
                                render 'featured-product-block', product: product, collection: collection, custom_aspect_ratio: chosen_aspect_ratio, no_swiping: section.settings.enable_carousel, no_quick_buy_markup: section.settings.enable_carousel
                                if section.settings.enable_carousel
                                    echo '</div>'
                                endif
                            endfor 

                            for product in accessories_collection.products limit: product_limit
                                if section.settings.enable_carousel
                                    echo '<div class="slider__item">'
                                endif
                                render 'featured-product-block', product: product, collection: collection, custom_aspect_ratio: chosen_aspect_ratio, no_swiping: section.settings.enable_carousel, no_quick_buy_markup: section.settings.enable_carousel
                                if section.settings.enable_carousel
                                    echo '</div>'
                                endif
                            endfor                                      
                    -%}
                </div>
            </div>

            {%- if section.settings.enable_carousel -%}
        </carousel-slider>
        {%- endif -%}
    </div>

    {% if settings.quickbuy_style != 'off' and section.settings.enable_carousel %}
        <div class="quickbuy-container use-color-scheme use-color-scheme--{{ settings.quickbuy_color_scheme }}">
            <a href="#" class="close-detail" aria-label="{{ 'accessibility.close' | t }}" tabindex="-1">{% render 'icon-close', stroke_width: 1 %}</a>
            <div class="inner"></div>
        </div>
    {% endif %}
</div>
<script>
  $(document).ready(function() {
    let $body = $('body');

//     $body.on('click', '.small-feature-link', function() {
//       $(this).closest('.megint-slider').find('.small-feature-link').removeClass('selected-featured-link');
//       $(this).addClass('selected-featured-link');
//       //
//       let tag            = $(this).attr('data-tag');
//       let amountFeatItem = 0;
//       $(this).closest('.megint-slider').find('.featured-product-block').each(function(_index) {
//         $(this).removeClass('hidden');
//         var element_tags = $(this).attr('data-tags');
//         if (!element_tags.includes(tag)) {
//           $(this).addClass('hidden');
//
// //         $(this).removeClass('carousel-item');
// //         $(this).removeClass('carousel-item-hidden');
//
//         } else {
//           amountFeatItem++;
//         }
//       });
//       //
//       //     var $owl = $('.owl-carousel').owlCarousel({
//       //       items: 1,
//       //       loop:true
//       //     });
//       //     $owl.trigger('refresh.owl.carousel');
//
//       //Only one item
//       if (amountFeatItem == 2) {
//
//       }
//     });

    setTimeout(function() {
      $body.find('.small-feature-link').each(function() {
        if ($(this).attr('data-tag') == 'gender-hommes') {
          $(this).attr('data-tag', 'gender-mens');
        }
        if ($(this).attr('data-tag') == 'gender-accessoires') {
          $(this).attr('data-tag', 'gender-accessories');
        }
      });
      // setTimeout(function() {
      //   $body.find('.selected-featured-link').each(function() {
      //     this.click();
      //   });
      // }, 5000);

    }, 500);

  });
</script>
{% schema %}
{
  "name": "Meg Featured collection",
  "class": "section-featured-collection",
  "disabled_on": {
    "templates": [
      "password"
    ],
    "groups": [
      "aside"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "text",
      "id": "title_fr",
      "label": "Heading (FR)"
    },
    {
      "type": "url",
      "id": "main-collection-url",
      "label": "Main Collection URL"
    },
    {
      "type": "url",
      "id": "main-collection-url-fr",
      "label": "Main Collection URL (FR)"
    },    
    {
      "type": "collection",
      "id": "womens-collection",
      "label": "Women's Collection"
    },  
    {
      "type": "collection",
      "id": "mens-collection",
      "label": "Men's Collection"
    },
    {
      "type": "collection",
      "id": "girls-collection",
      "label": "Girl's Collection"
    },    
    {
      "type": "collection",
      "id": "boys-collection",
      "label": "Boy's Collection"
    },
    {
      "type": "collection",
      "id": "accessories-collection",
      "label": "Accessories's Collection"
    },    
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "Enable carousel",
      "default": true
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "info": "Does not apply to carousel layout",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 1
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' link",
      "default": true
    },
    {
      "id": "full_width",
      "type": "checkbox",
      "label": "Full page width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "has_subcategories",
      "label": "Carousel with subcategories",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Meg Featured collection",
      "settings": {
        "title": "Meg Featured collection"
      }
    }
  ]
}
{% endschema %}
